# Environment variables
.env

# Gradle
.gradle/
build/
out/
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/
*.code-workspace

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*
