<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the default log level for all loggers -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Set specific log levels for our application -->
    <logger name="vibecheckbot" level="DEBUG" />
    
    <!-- Set log level for test classes -->
    <logger name="vibecheckbot.VibeCheckerIntegrationTest" level="DEBUG" />
</configuration> 